<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.crazypig.rpc.netty.*" />
    <context:property-placeholder location="classpath:rpcServer.properties" />
    
    <bean id="rpcServer" class="com.crazypig.rpc.netty.server.RpcServer" 
    	init-method="start" destroy-method="shutdown">
    	<property name="host" value="${rpcServer.host}" />
    	<property name="port" value="${rpcServer.port}" />
    	<property name="serviceRegistry" ref="serviceRegistry" />
    </bean>
    
    <bean id="serviceRegistry" class="com.crazypig.rpc.netty.registry.ZkServiceRegistry">
    	<property name="zkConnectString" value="${zkRegistry.connectString}" />
    	<property name="basePath" value="${zkRegistry.basePath}" />
    </bean>

</beans>